@use 'src/utils/scss/media';


.template {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 80px;
}

.profile {
  display: flex;
  align-items: center;

  &__image {
    width: 444px;
    height: 562px;
    display: flex;
    border: 1px solid #ccc;
    justify-content: center;
    align-items: center;
  }

  &__info {
    width: 564px;
    margin-left: 132px;
  }
}

.name {
  display: flex;
  margin-bottom: 23px;

  &__title {
    color:  #262626;
    font-family: Pretendard;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%; /* 48px */
    letter-spacing: -0.44px;
  }

  &__en {
    color: #BFBFBF;
    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 25.6px;
    text-align: center;
    margin-top: auto;
    margin-left: 8px;
  }
}

.word {
  width: calc(100% - 32px);
  height: 59px;
  padding: 16px;
  border-radius: 8px;
  background:#F5F8FF;
  margin-bottom: 36px;

  &__header {
    color: #B9D3FF;
    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 8px;
  }

  &__content {
    color:#7EA1DB;
    font-family: Pretendard;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 160%; /* 32px */
    letter-spacing: -0.22px;
  }
}

.links {
  display: flex;
  flex-direction: column;
  color: #222;
  font-family: Pretendard;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 32px */

  &__item {
    height: 24px;
    display: flex;
    align-items: center;
    margin-bottom: 8.5px;
  }

  &__logo {
    margin-right: 13px;
  }
}

.qa {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 126px;
  margin-bottom: 126px;

  &__title {
    width: 83px;
    color: #6170B5;
    font-family: Pretendard;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%; /* 48px */
    letter-spacing: -0.44px;
    border-bottom: 3px solid #6170B5;
    justify-content: center;
    align-items: center;
  }

  &__content {
    display: flex;
    flex-direction: column;
    width: 1136px;
  }
}

.card {
  display: flex;
  flex-direction: column;

  &__head {
    width: 100%;
    color:#454545;
    font-family: Pretendard;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 160%; /* 38.4px */
    letter-spacing: -0.264px;
    float: left;
  }

  &__tail {
    color: #222;
    font-family: Pretendard;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%; /* 32px */
    margin-left: auto;
  }

  &__answer {
    width: 564px;
  }
}

